body {
	padding-top: 5px;
}

.starter-template {
	padding: 3rem 1.5rem;
	text-align: left;
}

.ui-jqgrid .ui-jqgrid-htable th div {
	height: auto;
	overflow: hidden;
	padding-right: 4px;
	padding-top: 2px;
	position: relative;
	vertical-align: text-top;
	white-space: normal !important;
}

.ui-jqgrid tr.jqgrow td {
	vertical-align: top !important
}

.section-active {
	border-bottom: 3px solid rgb(18, 180, 230);
	color: #363636;
	font-weight: bold;
	/*float: left;*/
	font-size: 14px;
	padding: 0 0 5px;
	margin: 0 12px;
	text-align: center;
	position: relative;
	bottom: -1px;
	cursor: pointer;
}

.section-inactive {
	/*float: left;*/
	font-weight: normal;
	font-size: 14px;
	padding: 0 0 5px;
	margin: 0 12px;
	color: #555;
	text-align: center;
	position: relative;
	bottom: -1px;
	cursor: pointer;
}

.agentGreen {
	color: green;
}

.agentOrange {
	color: orange;
}

.agentRed {
	color: red;
}

.agentBlack {
	color: black;
}

.ui-autocomplete {
	position: absolute;
	z-index: 1000;
	top: 0;
	left: 0;
	cursor: default;
	background-color: #fff;
	padding: 3px;
	border: 1px solid #ccc
}

.ui-autocomplete>li.ui-state-focus {
	background-color: #FF6C00;
}

.property_box {
	float: left;
	margin: 8px;
	margin-bottom: 1px;
	width: 284px;
	background: #FFF;
	padding: 10px 13px 10px 15px;
	border: 1px #d5d5d5 solid;
	border-radius: 5px;
}

.property_box .ui-button-text {
	padding-left: 0.7em;
}

.property_box div.form_field {
	margin-bottom: 8px;
}

html[data-rtl-language='true'] .property_box div.form_field {
	direction: rtl;
}

pre {outline: 1px solid #ccc; padding: 5px; margin: 5px; word-wrap: break-word;}
.string { color: green; }
.number { color: darkorange; }
.boolean { color: blue; }
.null { color: magenta; }
.key { color: red; }